.file-explorer {
	background-color: #fff;
	min-height: 500px;
	position: relative;
	height: 100%;
}

.fe-sidebar {
	width: @fe-sidebar-width;
	background-color: @cyan;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 40px;
	color: @white;

	a {
		color: @white;

		&:hover {
			color: lighten(@white, 5%);
		}
	}

	h2 {
		font-weight: @font-weight;
	}
}

.fes-block {
	margin-top: 30px;

	& > header {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		margin-bottom: 14px;
		.opacity(0.7);
		padding-bottom: 2px;
		font-size: 12px;
	}

	& > ul {
		list-style: none;

		& li {
			& > a {
				display: block;
				margin: 0 -40px;
				padding: 8px 40px 11px;

				&:before {
					font-family: @font-family-icon;
					content: '\f37e';
					font-size: 17px;
					margin-right: 15px;
					position: relative;
					top: 1px;
					.opacity(0.8);
				}
			}

			&.active > a {
				background-color: rgba(255,255,255,0.2);
			}

			&:not(.active) > a:hover {
				background-color: rgba(255,255,255,0.08);
			}
		}
	}
}

.fesb-search {
    position: relative;
    
    &:before {
        font-family: @font-family-icon;
        content: '\f1c3';
        color: rgba(255,255,255,0.7);
        position: absolute;
        top: 8px;
        font-size: 18px;
        left: 14px;
    }
    
    input[type=text] {
        border: 0;
        width: 100%;
        padding: 10px 15px;
        border-radius: 2px;
        margin-bottom: 20px;
        background: rgba(0, 0, 0, 0.1);
        padding-left: 35px;
        color: #fff;
        .transition(all);
        .transition-duration(300ms);
        resize: none;
        box-shadow: 0 0 0 20px transparent; 
        
        &:focus {
            box-shadow: 0 0 1px -2px rgba(0,0,0,0.15);
            background: rgba(0,0,0,0.15);
        }
        
        &::-webkit-input-placeholder { color: rgba(255,255,255,0.7); }
        &::-moz-placeholder { color: rgba(255,255,255,0.7); }
        &:-ms-input-placeholder { color: rgba(255,255,255,0.7); }
    }
}

.fe-body {
	padding: 40px 45px 40px @fe-sidebar-width + 45;   
	height:100%; 
	overflow: auto;
}

.fe-header {
	margin-bottom: 50px;

	& > h2 {
		margin-bottom: 8px;
	}

	& > p {
		color: @text-muted-color;
	}
}

.fesl-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.fesl-item {
	&:first-child {
		flex: 3;
	}

	&:not(:first-child) {
		flex: 1;
	}

	&[data-type]:before {
		width:24px;
		height: 28px;
		display: inline-block;
		vertical-align: top;
		margin-right: 15px;
		background-position: center;
		background-repeat: no-repeat;
		content: "";
		margin-top: -7px;
	}

	&[data-type=folder]:before {
		.img-retina('../img/folder.png', '../img/folder@2x.png', 39px, 33px);
	}

	&[data-type=file]:before {
		.img-retina('../img/file.png', '../img/file@2x.png', 20px, 24px);
	}
}

header.fesl-row {
	margin-bottom: 20px;
	padding-bottom: 7px;
	color: @text-muted-color;
	border-bottom: 1px solid lighten(@text-muted-color, 20%);
}

div.fesl-row {
	padding: 15px 45px 9px;
	margin: 0 -45px;
	cursor: pointer;

	&.active {
		background-color: #F1F1F1;
	}

	&:not(.active):hover {
		background-color: #F7F7F7;
	}
}

.feh-actions {
	list-style: none;
	position: absolute;
	top: 40px;
	right: 45px;

	& > li {
		display: inline-block;

		& > a {
			display: block;
			font-size: 20px;
			width: 37px;
			text-align: center;
			color: @color;
			height: 37px;
			background: #F3F3F3;
			border-radius: 50%;
			line-height: 38px;

			&:hover {
				color: #333;
				background: darken(#F3F3F3, 3%);
			}
		}
	}
}
