/*--------------------------
    Header
----------------------------*/
.fe-header {
    margin-bottom: 25px;
    position: relative;

     h2 {
        & > span {
            & > a {
                color: #337ab7;

                &:hover {
                    color: #275d8c;
                }
            }

            &:not(.main) {
                font-size: 17px;
            }

            &:not(:first-child) {
                &:before {
                    content: '/';
                    margin: 0 4px;
                    color: #C1C1C1;
                }
            }
        }
        margin-bottom: 0;
    }

    p {
        color: @text-muted-color;
        margin-top: 7px;
    }
}

.feh-pie {
    margin-right: 10px;
    width: 65px;
}

.feh-disk {
    color: @text-muted-color;
    margin-top: 7px;

    & > li {
        margin-right: 5px;
    }
}

.fehd-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 2px;
    position: relative;
    top: 2px;

    &.free {
        background-color: #eee;
    }

    &.used {
        background-color: #2ed2ff;
    }
}


/*--------------------------
    Header Actions
----------------------------*/
.feh-actions {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;

    & > li {
        display: inline-block;
        text-align: right;
        vertical-align: top;
        margin-left: 10px;

        & > a {
            display: block;
            height: 45px;
            min-width: 45px;
            text-align: center;
            line-height: 43px;
            font-size: 18px;
            border: 1px solid #F0F0F0;
            color: #333;
            border-radius: 50%;
            .transition(all);
            .transition-duration(300ms);

            &:hover {
                background: #F3F3F3;
                color: #000;
            }
        }
    }
}

/*--------------------------
    Header Action - Search
----------------------------*/
.feha-search {
    position: relative;

    &:before {
        color: #808080;
        font-family: @font-family-icon;
        content: '\f002';
        position: absolute;
        top: 14px;
        font-size: 18px;
        left: 20px;
    }

    input[type="text"] {
        border: 0;
        width: 350px;
        background: #F3F3F3;
        .transition(all);
        .transition-duration(300ms);
        padding: 15px 20px 17px 55px;
        border-radius: 2px;
        margin: 0 0 15px;

        &::-webkit-input-placeholder { color: #808080; }
        &::-moz-placeholder { color: #808080; }
        &:-ms-input-placeholder { color: #808080; }

        &:focus {
            box-shadow: 0 0 1px -2px #EAEAEA;
            background: #EAEAEA;
            width: 500px;
        }

    }
}
